/ReactiveAlertsManagementService/build/
/ReactiveWebCrawlerService/build/
/ReactiveWebCrawlerService/build/resources/main/
/PredictionResultService/build/
/TrainModelService/venv/
__pycache__/
/build/
/.gradle/
.idea/
.idea/*
/TrainModelService/scripts/output/models/fine_tuned_bert_model.pth
/TrainModelService/scripts/lstm_and_cnn/classify_sentences.h5